
body {
    background-color: beige;
    margin: 0%;
}


div {
    margin:1rem;
    padding:0.5rem;
}
table,th, td, tr {
    border: 1px solid black;
}

table img {
    width:50%;
}

h1 {
    padding:1rem;
    background-color: lightblue;
}